nav.nav-side-menu {
    background-color: rgb(4,34,53);
    min-height: 100vh;
    width: 100%;
    padding: 0px;
    top: 0;
}

div .navbar-nav {
    width: 100%;
}

a.nav-item.nav-link {
    width: 100%;
    height: 60px;
}

a.nav-item.nav-link :last-child {
    margin-top: auto;
}

a.nav-item.nav-link.active, a.nav-item.nav-link:hover {
    background-color: rgb(41,149,218);
}

img {
    width: 100%;
    height: 100%;
    object-position: cover; 
}

a.nav-item.nav-link.active img,  a.nav-item.nav-link:hover img{
    filter: brightness(0) invert(1);
}