nav.nav-side-menu {
    background-color: rgb(4,34,53);
    height: 100%;
    width: 100%;
    padding: 0px;
}

div .navbar-nav {
    width: 100%;
}

a.nav-item.nav-link {
    width: 100%;
}

a.nav-item.nav-link.active {
    background-color: rgb(41,149,218);
}

img {
    width: 100%;
    height: 100%;
}