.teams {
    background-color: white;
    width: 90%;
    margin-top: 40px;
    margin-left: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -moz-box-shadow: 0 0 5px rgb(192, 192, 192);
    -webkit-box-shadow: 0 0 5px rgb(184, 184, 184);
    box-shadow: 0 0 15px rgb(214, 214, 214);
}

.teams .container {
    padding: 20px;
}

.teams .inner {
    padding: 20px;
}

.teams #title {
    font-weight: 600;
}

.teams #showing {
    float: right;
    font-size: 75%;
    font-weight: 400;
    color: gray;
    text-align: right;
}