html {
  height: 100%;
}
body {
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main.container-fluid {
  min-height: 100vh;
  overflow: hidden;
  background-color: rgb(239,242,245);
}

.col-md-nav {
  position: fixed;
  width: 65px;
  min-height: 100vh;
}

.col-md-rest {
  width: 100%;
  padding-left: 65px
}

.main\ h-100 .col-md-12 {
  padding: 0px;
  background-color: rgb(239,242,245);
}

.col-md-display {
  width: 75%;
}

.col-md-activity {
  width: 25%;
}