html {
  height: 100%;
}
body {
  min-height: 100vh;
}
main.container-fluid {
  min-height: 100vh;
  overflow-y: hidden; /* don't show content that exceeds my height */
  overflow-x: hidden;
}

.col-md-nav {
  width: 4.5%;
}

.col-md-rest {
  width: 95.5%;
  padding-left: 15px;
}